#orderList td:nth-child(1) {
    width: 5%;
}
#orderList td:nth-child(2) {
    width: 20%;
}
#orderList td:nth-child(3) {
    width: 8%;
}
#orderList th:nth-child(4) {
    width: 48%;
}
#orderList td:nth-child(5) {
    width: 13%;
}
#orderList td:nth-child(6) {
    width: 6%;
}

#productList td:nth-child(1) {
    width: 5%;
}
#productList td:nth-child(2) {
    width: 40%;
}
#productList td:nth-child(3) {
    width: 40%;
}
#productList td:nth-child(4) {
    width: 10%;
}
#productList td:nth-child(5) {
    width: 5%;
}

#updateModal .modal-dialog {
    width: 360px;
}
